.hide {
  margin-left: -4000px;
  position: absolute;
}
/* Directory listings  */
.updated-icon {
  margin: 0px 0px 0px 4px;
  position: relative;
  top: 4px;
}
#gmap-auto1map-gmap0 img {
  position: relative;
  z-index: 1;
}
#gmap-auto2map-gmap0 {
  width: 410px;
}
#edit-locations-0-delete-location-wrapper {
  display: none;
}


#page-bottom-tabs ul li {
  margin: 8px;
  /*background: transparent url(images/tab-left-ie6.png) no-repeat scroll left -38px;*/
  list-style-type: disc;
  list-style-image: none;
  background: none;
  margin: 0px 8px;
  padding: 0px 4px;
  font-weight: bold;
}
#page-bottom-tabs ul li a {
  font-weight: bold;
}
