input#edit-search-button {
  position: relative;
  z-index: 100;
}
#listing-location-proximity-search-form #edit-country-wrapper,
#listing-location-proximity-search-form #edit-select-distance-wrapper,
#listing-location-proximity-search-form #edit-select-target-wrapper,
#listing-location-proximity-search-form #edit-select-type-wrapper {
  float: left;
  margin: 0px 4px 0px 0px;
  margin-top: 0px;
}

ul.links.listing-city-links li {
  margin-right:12px;
  display:block;
}